.lightbox-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.lightbox-content {
    position: relative;
    width: 80%;
    height: 80%;
    max-width: 80%;
    max-height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.lightbox-image-container {
    position: relative;
}

.lightbox-image {
    max-width: 100%;
    max-height: 100%;
}

.lightbox-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: var(--full-white);
    font-size: 2rem;
    cursor: pointer;
}

.lightbox-close i {
    position: relative;
    z-index: 1;
}

.lightbox-prev, .lightbox-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: var(--full-white);
    cursor: pointer;
}

.lightbox-prev span, .lightbox-next span {
    color: var(--full-white);
}

.lightbox-prev {
    left: -10px;
    z-index: 1;
}

.lightbox-next {
    right: -10px;
    z-index: 1;
}

.lightbox-info {
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding: 10px 40px;
}

.lightbox-reference, .lightbox-category {
    font-size: 14px;
    color: #ddd;
}

.lightbox-info span {
    color: var(--full-white);
}
